.input {
  background-color: white;
  color: #555;
  padding: 8px 20px;
  border: 1px solid rgb(66, 24, 252);
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
  outline: none;
}

.input:hover {
  background-color: rgb(239, 239, 239);
}

.inputBox {
  display: flex;
  flex-direction: column;
}
