* {
  box-sizing: border-box;
}

body {
  color: #555;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

form {
  max-width: 400px;
  text-align: left;
  margin: 0 auto;
}

.btnBox {
  display: flex;
  justify-content: center;
}

.errors {
  color: red;
  margin-bottom: 15px;
}

.validInput {
  border: 1px solid rgb(66, 24, 252);
}

.errorInput {
  border: 1px solid red;
}
