* {
  box-sizing: border-box;
}

body {
  color: #555;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

form {
  max-width: 400px;
  text-align: left;
  margin: 0 auto;
}

.btnBox {
  display: flex;
  justify-content: center;
}

.errors {
  color: red;
  margin-bottom: 15px;
}
