.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
}

.titleBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.btn {
  padding: 12px 20px;
  border-radius: 5px;
  min-width: 100px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
}

.prime {
  background-color: blue;
  border: 2px solid blue;
  color: #fff;
}

.prime:hover {
  background-color: rgb(39, 77, 115);
  border: 2px solid rgb(39, 77, 115);
}

.second {
  background-color: #fff;
  color: blue;
  border: 2px solid blue;
  margin-left: 0.5rem;
}

.second:hover {
  background-color: rgb(39, 77, 115);
  border: 2px solid rgb(39, 77, 115);
  color: #fff;
}
